body {
    display: flex;
    justify-content: center;
}

main {
    margin: 60px 6rem 5rem 6rem;
    max-width: 60%;
}

#form-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#candidate-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.candidate-card {
    width: 240px;
    margin: 0 2.5rem;
    border: 2px solid black;
    border-radius: 6px;
}

.candidate-card:hover {
    cursor: pointer;
}

.candidate-photo-container {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.candidate-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.candidate-info {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .5rem;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.candidate-name {
    margin-bottom: .5rem;
}

.candidate-info p {
    margin: 0;
}

.candidate-description {
    font-size: .6rem;
    height: 40px;
    overflow: hidden;
}

.vote-button {
    cursor: pointer;
    margin-top: .5rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    width: 6rem;
}

.vote-button:hover {
    background-color: gray;
    border: 2px solid white;
    color: white;
}

#form-submit-btn {
    margin-top: 2rem;
    background-color: #F6B116;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 100px;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 8px;
    outline: 2px solid #F6B116;
}

#form-submit-btn:hover {
    cursor: pointer;
    background-color: #f7dea4;
    color: #F6B116;
    outline: 2px solid #F6B116;
}