body {
    display: flex;
}

main {
    margin: 60px 6rem 5rem 6rem;
    max-width: 60%;
}

input,
textarea {
    width: 300px;
}

#generator-form-btn:hover {
    cursor: pointer;
    background-color: gray;
    border: 2px solid white;
    color: white;
}

.sub-form {
    margin-top: 1rem;
}

#submit-all-data-btn:hover {
    cursor: pointer;
    background-color: gray;
    border: 2px solid white;
    color: white;
}

textarea {
    height: 100px;
}